// FONT FAMILIES
$ff-display: "Faster One", cursive;
$ff-primary: "Poppins", sans-serif;

// COLORS
$color-purple-dark: hsl(253, 100%, 16%);
$color-purple-medium: hsl(253, 88%, 60%);
$color-purple-light: hsl(253, 13%, 89%);
$color-blue-light: hsl(213, 75%, 76%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-text-dark: hsl(253, 100%, 16%);
$color-text-light: hsl(253, 38%, 36%);