.container-drawingWindow {
  background-color: white;
  width: 510px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.colors-container {
  display: flex;
}

.refresh-btn {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #6841f3;
  display: inline-block;
  border-radius: 1rem;
}

.refresh-btn:hover {
  cursor: pointer;
}
