.container-drawingWindow {
  background-color: white;
  width: 510px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.colors-container {
  display: flex;
}

/* .row {
  width: 100%;
  height: 5px;
} */
