.container-drawingWindow {
  background-color: white;
  width: 510px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.colors-container {
  display: flex;
}

.color-pallete {
  display: grid;
  grid-gap: 1.4rem;
  grid-template-columns: repeat(3, 12px);
  grid-template-rows: repeat(3, auto);
}
.color-item {
  height: 30px;
  width: 30px;
  border-radius: 25%;
}

.color-picker {
  display: flex;
}

/* .row {
  width: 100%;
  height: 5px;
} */
