.card {
    width: 360px;
    display: inline-block;
    align-items: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.cardImg {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cardTextBox {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', 'Open Sans';
    color:  #140052;
    background-color: white;
    margin-top: 0;
    
}

.cardName {
    font-size: 30px;
    line-height: 63px;
    letter-spacing: 9%;
    text-align: center;
    font-family: 'Poppins', 'Open Sans';
    color:  #140052;
}

